#header{
  background-color:whitesmoke;
  color: #000000;
  text-align: center;
}
#alert{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -20 px;
  
  }
  a.btn-warning.nav-link {
    border-radius: 5px;
    margin-right: 10px;
}
  
    
  h4{
    display:none;
  }
  
  .bookItem{
      width: 130px;
      height: 200px;
      box-shadow: 0 0 12px -2px black;
  
  }
    
  p,h5{
    font-weight: bold;
  }
  
     .information{
      padding-top: 5px;
    
      margin-left: 1px;
  }
  .information> p{
  margin-bottom: 3px;
  }
  
  
     h1{
  
       font-style: oblique;
       font-family: Arial;
      
        margin: 30px 34px;
        font-weight: bold;
     }
  
     .card{
  
  background-color:orange;
    border:round;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  
    
  }
  .cont{
  background-color:burlywood;
  border-radius: 25px;
  }
     
  .card:hover {
      
    background: wheat;
    border-color: wheat;
    }
  
   
    .breif{
  
      display: none
    }
  
    .p-4{
      text-align: center;
     color:black;
    }
  
    #info{
      margin-top: -250px;
     background-color: #e5d8bf69;
     border-color: wheat;
     font-size: 15px;
      color: black;
  }
  
  #info:hover{
    
    background:orange;
    border-color: wheat;
  }
  
  #total{
    font-weight: bold;
    margin-right: 0;
  }
  	/*=-footer-=*/
    footer {
      color: #fff;
      background-attachment: fixed;
      background-color:#222;
      background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
      background-size: cover;
      background-position: bottom;
    }
    footer p {
      color: #ccc;				
    }
   footer a {
      color: #ccc;				
    }
    .social-pet li {
      display: inline-block;
      margin-right: 10px;
    }
    .social-pet li a {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      text-align: center;
      display: block;
      line-height: 35px;
      background-color: #3a5a95;
      color: #fff;
    }
    .social-pet li:nth-child(2) a {
      background-color: #57aced;
    }
    .social-pet li:nth-child(3) a {
      background-color: #dd4f43;
    }
    .social-pet li:nth-child(4) a {
      background-color: #6b27b2;
    }
    .social-pet li a:hover {
      background-color: #0141a2;
    }
    .social-pet li a:hover i {
      transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
    .recent-post li {
      display: block;
      color: #ccc;
      margin-bottom: 25px;
    }
    .recent-post li label {
      float: left;
      border: 2px solid #ccc;
      padding: 1px 7px;
      text-align: center;
    }
    .recent-post li label span {
      color: #fff;
    }
    footer .input-group-addon {
      background-color: #0141a2;
      padding: 10px;
    }
    .f-address li {
      display: inline-block;
    }
    .f-address li i {
      color: #2995de;
      font-size: 18px;
    }
    .f-address li a {
      color: #ccc;
    }
    /*=-Copyright-=*/
    .copyright {
      background-color: #111;
      padding: 12px 0;
      font-size:14px;
    }